.user-header
	.avatar.user-avatar
		= image_tag @user.avatar.url(:medium)
	.user-info.card
		%h1= @user.username
		%p
			Member Since:
			= @user.created_at.strftime("%b %e, %Y")
		%p
			= pluralize(@user.recipes.count, "Recipe")
			Published
.row
	.recipe-grid
		- @user.recipes.each do |recipe|
			.recipe-wrap
				.recipe
					= link_to recipe do
						.image-wrap
							= image_tag recipe.image.url(:medium)
					.description
						%h3= link_to recipe.title, recipe
						%p= truncate(recipe.description,length: 125)
						= link_to recipe do
							View Recipe
							=fa_icon 'chevron-right'