!!! 5
%html
%head
	%title Cook
	%meta{:name => "viewport", :content => "width=device-width, initial-scale=1,"}
	= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
	= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Arvo:400,700"
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags
%body
.wrapper
	%nav.navbar.navbar-default
		.nav-wrap
			.main-logo= link_to "Cook", root_path

			- if user_signed_in?
				%ul.nav.signed-in
					%li
						= link_to new_recipe_path do
							= fa_icon "pencil"
							%span New Recipe
					%li
						= link_to user_path(current_user) do
							= fa_icon "th"
							%span My Recipes
					%li
						= link_to edit_user_registration_path do
							= fa_icon "user"
							%span My Account
					%li
						= link_to destroy_user_session_path, method: :delete do
							= fa_icon "sign-out"
							%span Sign Out
			-	else
				%ul.nav.not-signed-in
					%li
						= link_to "Sign Up", new_user_registration_path
					%li= link_to "Sign In", new_user_session_path

	.main-content.container
		.row
			.col-sm-12.categories
				.filter.toggle-trigger
					= fa_icon "filter"
					Filter Recipes
				%ul.category-links.toggle-content
					%li= link_to 'All Recipes', root_path
					- Category.all.each do |cat|
						%li= link_to cat.category, recipes_path(category: cat.category)

		- flash.each do |name, msg|
			.alert.card.alert-dismissible
				%p= msg
				.closer(data-dismiss="alert")
					= fa_icon "close"
		= yield